<h2 mat-dialog-title>Sửa thông tin bệnh nhân</h2>
<mat-dialog-content>
    <div class="dialog-content">
        <form *ngIf="patientForm" [formGroup]="patientForm " (keydown.enter)="$event.preventDefault()">
            <div class="row">
                <div class="col-6">
                    <label class="label min-width-align">Mã bệnh nhân <span class="required">*</span></label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput formControlName="patientCode" disabled>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <label class="label min-width-align">Công nợ</label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput formControlName="debt" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <label class="label min-width-align">Tên bệnh nhân <span class="required">*</span> </label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput formControlName="patientName" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <label class="label min-width-align">Số điện thoại <span class="required">*</span></label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput formControlName="phone" required maxlength="10" minlength="10"
                            (input)="onPhoneInput()">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6">
                    <label class="label min-width-align">Ngày sinh <span class="required">*</span></label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput [matDatepicker]="picker2" formControlName="dateOfBirth" [max]="today"
                            (dateChange)="onDobChange()">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <label class="label min-width-align">Giới tính <span class="required">*</span></label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <mat-select formControlName="gender" required>
                            <mat-option value="0" selected>Nam</mat-option>
                            <mat-option value="1">Nữ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <label class="label min-width-align">Địa chỉ <span class="required">*</span></label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput formControlName="address" required>
                    </mat-form-field>
                </div>
            </div>

        </form>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mb-0 pb-0">
    <button mat-button mat-dialog-close class="btn-orange">Hủy</button>
    <button mat-button class="btn-main-color" (click)="save()">Lưu</button>
</mat-dialog-actions>