<h1 mat-dialog-title>Đổi mật khẩu</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field class="full-width">
            <mat-label>Mật khẩu cũ</mat-label>
            <input matInput placeholder="Mật khẩu cũ" type="password" formControlName="oldPassword">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Mật khẩu mới</mat-label>
            <input matInput placeholder="Mật khẩu mới" type="password" formControlName="newPassword"
                (input)="onPasswordInput()">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Xác nhận mật khẩu mới</mat-label>
            <input matInput placeholder="Xác nhận mật khẩu mới" type="password" formControlName="confirmNewPassword"
                (input)="onPasswordInput()">
            <mat-error *ngIf="confirmNewPassword.invalid && !confirmNewPassword.hasError('required')">
                <i class="fas fa-exclamation-triangle"></i> Mật khẩu không khớp
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button class="btn-close-dialog btn-orange" mat-raised-button mat-dialog-close cdkFocusInitial>Hủy bỏ</button>
    <button class="btn-close-dialog btn-main-color" mat-raised-button [disabled]="formGroup.invalid"
        (click)="changePassword()" cdkFocusInitial>
        Đổi mật khẩu
    </button>
</div>