<div class="tool" mat-dialog-actions>
    <button matTooltip="In" (click)="print()"><i class="icon-print editor-icon"></i></button>
    <button matTooltip="Mở trong cửa sổ mới" (click)="openInNewWindows()"><i
            class="far fa-window-restore"></i></button>
    <button matTooltip="Đóng" class="btn-close-dialog" mat-dialog-close cdkFocusInitial>
        <i class="fas fa-times"></i>
    </button>
</div>
<hr>
<div class="d-flex">
    <div class="image-area" *ngIf="listImage.length != 0">
        <h2 class="title">Hình ảnh</h2>
        <div *ngFor="let image of listImage" class="border">
            <img [src]="image.link" alt="Hình ảnh" (click)="openImage(image)">
        </div>
    </div>
    <div class="container editor" id="show-report-container"></div>
</div>