.grid-template-1 {
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
}

.table-container {
  margin-top: 20px;
  padding: 0;
}

@media only screen and (min-width: 1400px) {
  .set-media-query .table-content {
    max-height: 490px !important;
  }

}
