<div class=" card-custom mb-0">
    <div class="box-table">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="header m-0">Danh sách nhóm dịch vụ</h2>
            <button mat-raised-button class="btn-main-color" (click)="openAddDialog()">
                <i class="fas fa-plus"></i>
                <span class="ml-1">
                    Thêm mới nhóm dịch vụ
                </span>
            </button>
        </div>
        <div class="table-custom mt-3 ">
            <ul class="table-header">
                <li class="header-col stt text-center">
                    #
                </li>
                <li class="header-col width-auto text-left">
                    Tên nhóm dịch vụ
                </li>
            </ul>

            <div class="table-content caculate-height ">
                <ul class="content-row" *ngIf="listGroupService.length==0">
                    <li class="content-col no-data">
                        Không có dữ liệu
                    </li>
                </ul>
                <app-loading *ngIf="isLoading"></app-loading>
                <ul class="content-row " *ngFor="let item of listGroupService; let i = index">
                    <li class="content-col stt text-center">
                        {{i+1}}
                    </li>
                    <li class="content-col width-auto text-left">
                        {{item.groupServiceName}}
                    </li>
                    <li class="content-col width-10 text-left">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-secondary btn-sm ml-1" (click)="openAddDialog(item)"
                                title="Sửa thông tin dịch vụ"><i title="Sửa thông tin dịch vụ"
                                    class="fas fa-pen"></i></button>
                            <button class="btn btn-outline-secondary btn-sm ml-1" (click)="deleteGroupService(item)"
                                title="Xóa dịch vụ">
                                <i title="Xóa dịch vụ" class="fas fa-trash"></i></button>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>