@import "../manage-medicine.component.scss";

.add-new {
  display: flex !important;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}
.table-content {
  max-height: unset;
}
@media only screen and (min-width: 1400px) {
  .set-media-query .table-content {
    max-height: 360px !important;
  }
  
}
