@import "../manage-medicine.component.scss";

.add-new {
  display: flex !important;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.content-row {
  animation: unset !important;
}


@media only screen and (min-height: 700px) {
  .caculate-height {
    max-height: calc(100vh - 625px);
  }
}
