<div class=" card-custom mb-0">
    <form *ngIf="supplierForm" [formGroup]="supplierForm">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="header m-0">Thông tin nhà cung cấp</h2>

                </div>
                <div class="row mb-1">
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">Tên</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="supplierName" (keyup)="generateByName($event)"
                                autocomplete="off" #inputName>
                            <app-supplier-autocomplete [isMini]="true" [autocomplete]="inputName"
                                [supplier]="autoByName" [keySearch]="'supplierName'"
                                (selectedRow)="autoSelected($event)" [maxHeight]="400">
                            </app-supplier-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">Email</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="email" type="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">Số điện thoại</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input maxlength="10" matInput formControlName="phone" (keyup)="generateByPhone($event)"
                                autocomplete="off" #inputName>
                            <app-supplier-autocomplete [isMini]="true" [autocomplete]="inputName"
                                [supplier]="autoByPhone" [keySearch]="'phone'" [maxHeight]="400" (selectedRow)="autoSelected($event)">
                            </app-supplier-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">Số tài khoản</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="accountNumber">
                        </mat-form-field>
                    </div>
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">công nợ</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="debt">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12 d-flex">
                        <label class="label min-width-align">Địa chỉ</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="header m-0">Thông tin hóa đơn</h2>
                </div>
                <div class="row mb-1">
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">Tổng hóa đơn</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="totalAmount">
                        </mat-form-field>
                    </div>
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">Đã thanh toán</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="amountPaid" (change)="caculateTotal()" type="number"
                                min="0" step="1000">
                        </mat-form-field>
                    </div>
                    <div class="col-4 d-flex">
                        <label class="label min-width-align">Còn nợ</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="unpaiAmount">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-end mt-2 ">
                <button mat-raised-button class="btn-main-color" (click)="save()" type="submit">
                    <i class="fas fa-save"></i>
                    <span class="ml-1">
                        Lưu
                    </span>
                </button>
                <button mat-raised-button class="ml-2 btn-orange " (click)="resetInput()">
                    <i class="fas fa-sync-alt"></i>
                    <span class="ml-1">
                        Nhập lại
                    </span>
                </button>
            </div>
        </div>
    </form>


    <div class="d-flex align-items-center justify-content-between">
        <h2 class="header m-0">Danh mục thuốc vật tư</h2>
    </div>
    <div class="table-custom mt-3 ">
        <ul class="table-header">
            <li class="header-col stt text-center">
                #
            </li>
            <li class="header-col width-15 text-left">
                Tên hàng
            </li>
            <li class="header-col width-10 text-left">
                Đơn vị tính
            </li>
            <li class="header-col width-10 text-left">
                Giá nhập(đ)
            </li>
            <li class="header-col width-10 text-left">
                Số lượng
            </li>
            <li class="header-col width-10 text-left">
                Giá bán(đ)
            </li>
            <li class="header-col width-10 text-left">
                Loại
            </li>
            <li class="header-col width-15 text-left">
                Nhóm
            </li>
            <li class="header-col width-auto text-left">
                Thành tiền(đ)
            </li>
        </ul>

        <div class="table-content caculate-height">
            <ul class="content-row" *ngIf="lstReceiptDetails.length===0">
                <li class="content-col no-data">
                    Không có dữ liệu
                </li>
            </ul>
            <!-- <app-loading *ngIf="isLoading"></app-loading> -->
            <ul class="content-row " *ngFor="let item of lstReceiptDetails;let i=index">
                <li class="content-col stt text-center text-truncate">
                    {{i+1}}
                </li>
                <li class="content-col width-15 text-left text-truncate">
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input [(ngModel)]="item.receiptName" (keyup)="generateByReceiptName($event,item.receiptName)"  [matAutocomplete]="autoPatientName" matInput required>
                        <mat-autocomplete [panelWidth]="300" autoActiveFirstOption #autoPatientName="matAutocomplete">
                            <mat-option *ngFor="let d of autoByReceiptName" [value]="d" [innerHTML]="d">
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </li>
                <li class="content-col width-10 text-left text-truncate">
                    <mat-form-field appearance="outline" class="input-fixed">
                        <mat-select [(ngModel)]="item.unitName">
                            <mat-option *ngFor="let item2 of listUnitName" [value]="item2" [innerHTML]="item2">
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li class="content-col width-10 text-left text-truncate">
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput [(ngModel)]="item.amountDetail" type="number" min="0" step="1000"
                            (change)="caculateTotal()">
                    </mat-form-field>
                </li>
                <li class="content-col width-10 text-left text-truncate">
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput [(ngModel)]="item.quantityDetail" type="number" min="1" max="10000"
                            (change)="caculateTotal()">
                    </mat-form-field>
                </li>
                <li class="content-col width-10 text-left text-truncate">
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput [(ngModel)]="item.price" type="number" min="0" step="1000">
                    </mat-form-field>
                </li>

                <li class="content-col width-10 text-left text-truncate">
                    <mat-form-field appearance="outline" class="input-fixed">
                        <mat-select [(ngModel)]="item.type">
                            <mat-option *ngFor="let item2 of type" [value]="item2.id" [innerHTML]="item2.name">
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li class="content-col width-15 text-left text-truncate">
                    <mat-form-field appearance="outline" class="input-fixed" *ngIf="item.type==1">
                        <mat-select [(ngModel)]="item.groupMedicineId">
                            <mat-option *ngFor="let item2 of listGroupMedicine" [value]="item2.id"
                                [innerHTML]="item2.groupMedicineName">
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-fixed" *ngIf="item.type==2">
                        <mat-select [(ngModel)]="item.groupMaterialId">
                            <mat-option *ngFor="let item2 of listGroupMaterial" [value]="item2.id"
                                [innerHTML]="item2.groupMaterialName">
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li class="content-col width-auto text-left text-truncate">
                    {{item.quantityDetail * item.amountDetail}}
                </li>
                <li class="content-col width-5 text-right text-truncate">
                    <button class="btn btn-outline-secondary btn-sm ml-1" title="Xóa dịch vụ" (click)="deleteItem(i)">
                        <i class="fas fa-trash"></i>
                    </button>
                </li>
            </ul>
        </div>
        <ul class="table-footer ">
            <li class="footer-col add-new">
                <button mat-raised-button class="btn-main-color" (click)="addRow()"
                    [disabled]="(listGroupMaterial.length===0 && listGroupMedicine.length===0)">
                    <i class="fas fa-plus"></i>
                    <span class="ml-1">
                        Thêm hàng
                    </span>
                </button>
            </li>
        </ul>
    </div>

</div>