<mat-nav-list class="list-sb">
    <a mat-list-item routerLink="/">
        Danh mục dịch vụ
    </a>
    <a mat-list-item routerLink="/">
        Danh mục nhóm dịch vụ
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/">
        Báo cáo giá dịch vụ
    </a>
    <a mat-list-item routerLink="/">
        Cập nhật giá dịch vụ
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/">
        Mẫu kết quả dịch vụ
    </a>
    <a mat-list-item routerLink="/">
        Nhóm mẫu kết quả dịch vụ
    </a>
</mat-nav-list>