<mat-nav-list class="list-sb">
    <a [class.item-active]="currentItem === 4.1" mat-list-item routerLink="/manage-service/service">
        Danh mục dịch vụ
    </a>
    <a [class.item-active]="currentItem === 4.2" mat-list-item routerLink="/manage-service/group-service">
        Danh mục nhóm dịch vụ
    </a>
    <mat-divider></mat-divider>
    <a [class.item-active]="currentItem === 4.3" mat-list-item routerLink="/manage-service/template-report">
        Mẫu kết quả dịch vụ
    </a>
</mat-nav-list>