@import "../manage-medicine.component.scss";


.left-box {
  flex: 1;
}

.right-box {
  width: 350px;
  .table-content{
    max-height: 200px;
  }
}

.add-new {
  display: flex !important;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}