<div class="card-custom">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h2 class="header m-0">Thông tin bệnh nhân</h2>
    </div>
  
    <div class="row mb-1">
        <div class="col-4 d-flex">
            <label class="label min-width-align">Mã bệnh nhân</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <input matInput [(ngModel)]="searchData.patientCode" (keyup)="generateAutoPatientByCode($event)"
                    [matAutocomplete]="autoPatientCode">
                <mat-autocomplete autoActiveFirstOption #autoPatientCode="matAutocomplete">
                    <mat-option *ngFor="let d of autoByPatientCode" [value]="d.value" [innerHTML]="d.valueDisplay">
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    
        <!-- <div class="col-4 d-flex">
            <label class="label min-width-align">Tên bệnh nhân</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <input matInput [(ngModel)]="searchData.patientNameSearch" (keyup)="generateAutoPatientByName($event)"
                    [matAutocomplete]="autoPatientName">
                <mat-autocomplete autoActiveFirstOption #autoPatientName="matAutocomplete">
                    <mat-option *ngFor="let d of autoByName" [value]="d.value" [innerHTML]="d.valueDisplay">
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div> -->

        <div class="col-4 d-flex">
            <label class="label min-width-align">Người tạo</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <mat-select [(ngModel)]="searchData.staffNameSearch">
                    <mat-option value="">Tất cả</mat-option>
                    <mat-option *ngFor="let item of listStaff" [value]="item.fullName" [innerHTML]="item.fullName">
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4 d-flex">
            <label class="label min-width-align">Loại phiếu</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <mat-select [(ngModel)]="searchData.voucherTypeId">
                    <mat-option value="">Tất cả</mat-option>
                    <mat-option *ngFor="let item of listVoucherType" [value]="item.voucherTypeId"
                        [innerHTML]="item.voucherTypeName"></mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4 d-flex">
            <label class="label min-width-align">Tên đối tượng</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <input matInput [(ngModel)]="searchData.objectSearch" (keyup)="getAutoNameObject($event)"
                    [matAutocomplete]="autoSupplierName">
                <mat-autocomplete [panelWidth]="500" autoActiveFirstOption #autoSupplierName="matAutocomplete">
                    <mat-option *ngFor="let d of autoObjectSearch" [value]="d.value" [innerHTML]="d.valueDisplay">
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <!-- <div class="col-4 d-flex">
            <label class="label min-width-align">Nhà cung cấp</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <input matInput [(ngModel)]="searchData.supplierNameSearch" (keyup)="generateAutoSupplierName($event)"
                    [matAutocomplete]="autoSupplierName">
                <mat-autocomplete [panelWidth]="500" autoActiveFirstOption #autoSupplierName="matAutocomplete">
                    <mat-option *ngFor="let d of autoSupplierByName" [value]="d.value" [innerHTML]="d.valueDisplay">
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div> -->
        <div class="col-4 d-flex">
            <label class="label min-width-align">Từ ngày</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <input matInput [matDatepicker]="picker1" [max]="today" [(ngModel)]="searchData.startDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-4 d-flex">
            <label class="label min-width-align">Đến ngày</label>
            <mat-form-field appearance="outline" class="input-fixed-revenue-expenditure">
                <input matInput [matDatepicker]="picker2" [max]="today" [(ngModel)]="searchData.endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button mat-raised-button class="btn-main-color" (click)="search()">
                <i class="fas fa-search"></i>
                <span class="ml-1">
                    Tìm
                </span>
            </button>
            <button mat-raised-button class="ml-2 btn-orange " (click)="resetInput()">
                <i class="fas fa-sync-alt"></i>
                <span class="ml-1">
                    Nhập lại
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end align-items-center">
            <mat-paginator [length]="tableBottomLength" [pageSize]="pageSize" [pageIndex]="pageIndex"
                [pageSizeOptions]="pageSizeOptions" (page)="onPageEvent($event)" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
            <div class="table-custom  ">
                <ul class="table-header">
                    <li class="header-col stt text-center">
                        #
                    </li>
                    <li class="header-col width-15 text-left">
                        Loại phiếu
                    </li>
                    <li class="header-col width-15 text-left">
                        Tên đơn vị
                    </li>
                    <li class="header-col width-10 text-left">
                        Ngày tạo
                    </li>
                    <li class="header-col width-15 text-left">
                        Người tạo phiếu
                    </li>
                    <li class="header-col width-auto text-left">
                        Note
                    </li>
                    <li class="header-col width-10 text-right">
                        Hành động
                    </li>
                </ul>

                <div class="table-content caculate-height ">
                    <ul class="content-row" *ngIf="listDataDisplay.length==0">
                        <li class="content-col no-data">
                            Không có dữ liệu
                        </li>
                    </ul>
                    <!-- <app-loading *ngIf="isLoading"></app-loading> -->
                    <ul class="content-row " *ngFor="let item of listDataDisplay;let i = index">
                        <li class="content-col stt text-center">
                            {{i+1+pageIndex*pageSize}}
                        </li>
                        <li class="content-col width-15 text-left" *ngIf="item.type===1">
                            Phiếu chi tiền mặt
                        </li>
                        <li class="content-col width-15 text-left" *ngIf="item.type===2">
                            Phiếu thu tiền mặt
                        </li>
                        <li class="content-col width-15 text-left" *ngIf="item.type===3">
                            Phiếu thu công nợ
                        </li>
                        <li class="content-col width-15 text-left" *ngIf="item.type===4">
                            Phiếu trả công nợ
                        </li>
                        <li class="content-col width-15 text-left">
                            {{item.objectVoucher}}
                        </li>
                        <li class="content-col width-10 text-left">
                            {{item.createdAt | date: 'dd/MM/yyyy'}}
                        </li>
                        <li class="content-col width-15 text-left">
                            {{item.staffName}}
                        </li>
                        <li class="content-col width-auto text-left">
                            {{item.note}}
                        </li>
                        <li class="content-col width-10 text-right">
                            <div class="d-flex justify-content-end">
                                <button (click)="viewInfo(item.type,item.id)" class="btn btn-outline-secondary btn-sm ml-1" title="Xem thông tin"><i
                                        class="fas fa-file"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>