<div class=" card-custom mb-0">
    <div class="d-flex">
        <div class="left-box">
            <form *ngIf="patientForm" [formGroup]="patientForm">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="header m-0">Thông tin bệnh nhân</h2>

                </div>
                <div class="row mb-1">
                    <div class="col-6 d-flex">
                        <label class="label min-width-align">Mã bệnh nhân</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="patientCode" autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-6 d-flex">
                        <label class="label min-width-align">Tên bệnh nhân</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="patientName">
                        </mat-form-field>
                    </div>
                    <div class="col-6 d-flex">
                        <label class="label min-width-align">Số điện thoại</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="phone" maxlength="10">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-6 d-flex">
                        <label class="label min-width-align">Năm sinh</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput [matDatepicker]="picker2" formControlName="dateOfBirth" [max]="today"
                                (dateChange)="onDobChange()">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6 d-flex">
                        <label class="label min-width-align">Giới tính</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <mat-select formControlName="gender">
                                <mat-option value="0">Nam</mat-option>
                                <mat-option value="1">Nữ</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-12 d-flex">
                        <label class="label min-width-align">Địa chỉ</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="header m-0">Phiếu kê đơn thuốc</h2>
                </div>
                <div class="row ">
                    <div class="col-12 d-flex align-items-center">
                        <label class="label min-width-align">Lời dặn</label>
                        <mat-form-field appearance="outline" class="input-fixed">
                            <textarea matInput rows="2" formControlName="note"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="right-box">

            <div class="row mb-2">
                <div class="col-12 d-flex">
                    <label class="label min-width-align">Nhóm Thuốc</label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <mat-select [(ngModel)]="selectedGroupMedicine">
                            <mat-option value="0" (click)="getListMedicine(0)">
                                All
                            </mat-option>
                            <mat-option *ngFor="let item of listGroupMedicine" [value]="item.id"
                                [innerHTML]="item.groupMedicineName" (click)="getListMedicine(item.id)">
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 d-flex">
                    <label class="label min-width-align">Tìm nhanh</label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput [(ngModel)]="searchMedicineName" (keyup)="findAllMedicine()">
                    </mat-form-field>
                    <button mat-icon-button (click)="findAllMedicine()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <div class="table-custom mt-2">
                <ul class="table-header">
                    <li class="header-col stt text-center">
                        #
                    </li>
                    <li class="header-col width-auto text-left">
                        Tên thuốc
                    </li>
                    <li class="header-col width-25 text-left">
                        Đơn vị tính
                    </li>
                </ul>
                <div class="table-content">
                    <ul class="content-row" *ngIf="listMedicine.length ===0">
                        <li class="content-col no-data">
                            Không có dữ liệu
                        </li>
                    </ul>
                    <ul class="content-row" *ngFor="let item of listMedicine">
                        <li class="content-col stt text-center">
                            <mat-checkbox [(ngModel)]="item.checked" (click)="hanldeSelectMedicine(item,$event)">
                            </mat-checkbox>
                        </li>
                        <li class="content-col width-auto text-left ">
                            {{item.medicineName}}
                        </li>
                        <li class="content-col width-25 text-left">
                            {{item.unitName}}
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 d-flex justify-content-end mt-2 ">
            <button mat-raised-button class="btn-green " (click)="back()">
                <i class="fas fa-undo"></i>
                <span class="ml-1">
                    Quay lại
                </span>
            </button>
            <button mat-raised-button class="ml-2 btn-orange " (click)="resetInput()">
                <i class="fas fa-sync-alt"></i>
                <span class="ml-1">
                    Nhập lại
                </span>
            </button>

            <button mat-raised-button class="ml-2 btn-green ">
                <i class="fas fa-print"></i>
                <span class="ml-1">
                    In hóa đơn
                </span>
            </button>
            <button mat-raised-button class="btn-main-color ml-2" (click)="saveData()">
                <i class="fas fa-save"></i>
                <span class="ml-1">
                    Lưu
                </span>
            </button>
        </div>
    </div>
    <div class="box-table">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="header m-0">Thông tin thuốc</h2>
        </div>
        <div class="table-custom mt-1">
            <ul class="table-header">
                <li class="header-col stt text-center">
                    #
                </li>
                <li class="header-col width-20 text-left">
                    Tên thuốc
                </li>
                <li class="header-col width-10 text-left">
                    Đơn vị tính
                </li>
                <li class="header-col width-15 text-left">
                    Số lượng
                </li>
                <li class="header-col width-auto text-left">
                    Ghi chú
                </li>
                <li class="header-col width-5 text-left">
                </li>
            </ul>

            <div class="table-content caculate-height">
                <ul class="content-row" *ngIf="listUserMedicine.length ===0">
                    <li class="content-col no-data">
                        Không có dữ liệu
                    </li>
                </ul>
                <!-- <app-loading *ngIf="isLoading"></app-loading> -->
                <ul class="content-row " *ngFor="let item of listUserMedicine;let i = index">
                    <li class="content-col stt text-center ">
                        {{i+1}}
                    </li>
                    <li class="content-col width-20 text-left ">
                        {{item.medicineName}}
                    </li>
                    <li class="content-col width-10 text-left ">
                        {{item.unitName}}
                    </li>
                    <li class="content-col width-15 text-left ">
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput [(ngModel)]="item.quantity" min="1" type="number"
                                (keyup)="validateQuantity(item)">
                        </mat-form-field>
                    </li>
                    <li class="content-col width-auto text-left ">
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput [(ngModel)]="item.noteDetail">
                        </mat-form-field>
                    </li>
                    <li class="header-col width-5 text-left">
                        <div style="display: flex; justify-content: flex-end;">
                            <button class="btn btn-outline-secondary btn-sm ml-1" title="Xóa thuốc này"
                                (click)="deleteMedicine(item.medicineId,true)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>