<mat-nav-list class="list-sb">
    <a [class.item-active]="currentItem === 3.1" mat-list-item routerLink="/manage-medicine/import-medicine"
        *ngIf="userPermissionCode.includes('C10')">
        Nhập thuốc, vật tư
    </a>
    <a mat-list-item routerLink="/" disabled>
        Quản lý nhập vật tư
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" disabled>
        Xuất tiêu hao vật tư
    </a>
    <a mat-list-item routerLink="/" disabled>
        Quản lý xuất tiêu hao vật tư
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" disabled>
        Nhập lại vật tư
    </a>
    <a mat-list-item routerLink="/" disabled>
        Quản lý nhập lại vật tư
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" disabled>
        Xuất trả nhà cung cấp
    </a>
    <a mat-list-item routerLink="/" disabled>
        Quản lý xuất trả nhà cung cấp
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" disabled>
        Thống kê tồn vật tư
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" disabled>
        Công nợ nhà cung cấp
    </a>
</mat-nav-list>