.left-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-right: 10px;
}

.right-box {
  margin: 0;
  width: 500px;

  .table-content {
    max-height: 220px;
  }
}

@media only screen and (min-height: 700px) {
  .caculate-height {
    max-height: calc(100vh - 530px);
  }

  .right-box {
    width: 550px;
  }
}
