<div class="card-custom">
    <div class="d-flex">
        <div class="left-box">
            <div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h2 class="header m-0">Thông tin bệnh nhân</h2>
                    <h3 class="m-0" style="color: red; font-weight: bold;" *ngIf="!paid">Chưa thanh toán</h3>
                </div>
                <form *ngIf="patientForm" [formGroup]="patientForm">
                    <div class="row mb-1">
                        <div class="col-6 d-flex">
                            <label class="label min-width-align">Mã bệnh nhân</label>
                            <mat-form-field appearance="outline" class="input-fixed" (dblclick)="dbClick()">
                                <input matInput formControlName="patientCode" autocomplete="off" #inputPatientCode
                                    (keyup)="generateAutoPatientByPatientCode($event)">
                                <app-patient-autocomplete [autocomplete]="inputPatientCode"
                                    [patients]="autoByPatientCode" [keySearch]="'patientCode'"
                                    (selectedRow)="autoSelected($event)">
                                </app-patient-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 d-flex">
                            <label class="label min-width-align">Tên bệnh nhân</label>
                            <mat-form-field appearance="outline" class="input-fixed">
                                <input matInput formControlName="patientName"
                                    (keyup)="generateAutoPatientByName($event)" autocomplete="off" #inputName>
                                <app-patient-autocomplete [autocomplete]="inputName" [patients]="autoByName"
                                    [keySearch]="'patientName'" (selectedRow)="autoSelected($event)">
                                </app-patient-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-6 d-flex">
                            <label class="label min-width-align">Số điện thoại</label>
                            <mat-form-field appearance="outline" class="input-fixed">
                                <input matInput formControlName="phone" autocomplete="off" #inputPhone
                                    (keyup)="generateAutoPatientByPhone($event)" maxlength="10">
                                <app-patient-autocomplete [autocomplete]="inputPhone" [patients]="autoByPhone"
                                    [keySearch]="'phone'" (selectedRow)="autoSelected($event)">
                                </app-patient-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-6 d-flex">
                            <label class="label min-width-align">Năm sinh</label>
                            <mat-form-field appearance="outline" class="input-fixed">
                                <input matInput [matDatepicker]="picker2" formControlName="dateOfBirth" [max]="today"
                                    (dateChange)="onDobChange()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-6 d-flex">
                            <label class="label min-width-align">Giới tính</label>
                            <mat-form-field appearance="outline" class="input-fixed">
                                <mat-select formControlName="gender">
                                    <mat-option value="0">Nam</mat-option>
                                    <mat-option value="1">Nữ</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12 d-flex">
                            <label class="label min-width-align">Địa chỉ</label>
                            <mat-form-field appearance="outline" class="input-fixed">
                                <input matInput formControlName="address">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-end action">
                <button mat-raised-button class="btn-main-color" (click)="save()">
                    <i class="fas fa-save"></i> <span class="ml-1">
                        Lưu
                    </span>
                </button>
                <button mat-raised-button class="ml-2 btn-main-color">
                    <i class="fas fa-print"></i>
                    <span class="ml-1">
                        In phiếu CLS
                    </span>
                </button>
                <button mat-raised-button class="ml-2 btn-main-color">
                    <i class="fas fa-receipt"></i>
                    <span class="ml-1">
                        Chuyển thanh toán
                    </span>
                </button>

                <button mat-raised-button class="ml-2 btn-orange " (click)="resetInput()">
                    <i class="fas fa-sync-alt"></i>
                    <span class="ml-1">
                        Nhập lại
                    </span>
                </button>
            </div>
        </div>
        <div class="right-box">
            <div class="row mb-2">
                <div class="col-12 d-flex">
                    <label class="label min-width-align">Nhóm dịch vụ</label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <mat-select [(ngModel)]="selectedGroupServiceCode">
                            <mat-option *ngFor="let item of listUserGroupService" [value]="item.groupServiceCode"
                                [innerHTML]="item.groupServiceName" (click)="getListService(item.groupServiceCode)">
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 d-flex">
                    <label class="label min-width-align">Tìm kiếm</label>
                    <mat-form-field appearance="outline" class="input-fixed">
                        <input matInput [(ngModel)]="searchGroupServiceName" (keyup)="findServiceInGroupService()">
                    </mat-form-field>
                    <button mat-icon-button (click)="findServiceInGroupService()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>

            <div class="table-custom mt-3">
                <ul class="table-header">
                    <li class="header-col stt text-center">
                        #
                    </li>
                    <li class="header-col width-auto text-left">
                        Tên dịch vụ
                    </li>
                    <li class="header-col width-20 text-left">
                        Đơn giá
                    </li>
                </ul>
                <div class="table-content">
                    <ul class="content-row" *ngIf="listService.length ==0">
                        <li class="content-col no-data">
                            Không có dữ liệu
                        </li>
                    </ul>
                    <ul class="content-row" *ngFor="let item of listService">
                        <li class="content-col stt text-center">
                            <mat-checkbox [(ngModel)]="item.checked" (click)="hanldeSelectPatientService(item,$event)">
                            </mat-checkbox>
                        </li>
                        <li class="content-col width-auto text-left ">
                            {{item.serviceName}}
                        </li>
                        <li class="content-col width-20 text-left">
                            {{item.price}}
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <div class="full-width">
        <div class="table-custom mt-3">
            <ul class="table-header">
                <li class="header-col stt text-center">
                    #
                </li>
                <li class="header-col width-10 text-left">
                    Tên dịch vụ
                </li>
                <li class="header-col width-10 text-left">
                    Đơn giá
                </li>
                <li class="header-col width-15 text-left">
                    Bác sĩ
                </li>
                <li class="header-col width-15 text-left">
                    Phòng khám
                </li>
                <li class="header-col width-15 text-left">
                    Kết luận
                </li>
                <li class="header-col width-15 text-left">
                    Ghi chú
                </li>
                <li class="header-col width-auto text-left">
                    Trạng thái
                </li>
                <li class="header-col width-10 text-right">
                    Hành động
                </li>
            </ul>

            <div class="table-content caculate-height js-auto-scroll">
                <ul class="content-row" *ngIf="listPatientService.length==0">
                    <li class="content-col no-data">
                        Không có dữ liệu
                    </li>
                </ul>
                <!-- <app-loading *ngIf="isLoading"></app-loading> -->
                <ul class="content-row " *ngFor="let item of listPatientService; let i = index">
                    <li class="content-col stt text-center text-truncate">
                        {{i+1}}
                    </li>
                    <li class="content-col width-10 text-left ">
                        {{item.serviceName}}
                    </li>
                    <li class="content-col width-10 text-left">
                        {{item.price}}
                    </li>
                    <li class="content-col width-15 text-left ">
                        <mat-form-field appearance="outline" class="input-fixed">
                            <mat-select [(value)]="item.doctorSelected">
                                <mat-option *ngFor="let doctor of item.doctor" [value]="doctor.id"
                                    (click)="hanldeSelectDoctor(item,doctor)">
                                    {{ doctor.fullName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li class="content-col width-15 text-left ">
                        <mat-form-field appearance="outline" class="input-fixed">
                            <mat-select [(value)]="item.roomSelected">
                                <mat-option *ngFor="let room of item.room" [value]="room.id"
                                    (click)="hanldeSelectRoom(item,room)">
                                    {{ room.roomName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li class="content-col width-15 text-left">
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput [(ngModel)]="item.summary">
                        </mat-form-field>
                    </li>
                    <li class="content-col width-15 text-left">
                        <mat-form-field appearance="outline" class="input-fixed">
                            <input matInput [(ngModel)]="item.note">
                        </mat-form-field>
                    </li>
                    <li class="content-col width-auto text-left ">
                        {{item.status == '1' ? 'Chưa khám' : 
                        (item.status == '2' ? 'Đang khám' : 'Đã khám xong')
                    }}
                    </li>
                    <li class="content-col width-10 text-right ">
                        <div style="display: flex; justify-content: flex-end;">
                            <button class="btn btn-outline-secondary btn-sm" title="Xem chi tiết phiếu cận lâm sàng"><i
                                    class="fas fa-file"></i></button>
                            <button class="btn btn-outline-secondary btn-sm ml-1" title="Đánh dấu đã hoàn tất"
                                *ngIf="item.status != '0'" (click)="makeDone(item.serviceReportId,item)"><i
                                    class="fas fa-check"></i></button>
                            <button class="btn btn-outline-secondary btn-sm ml-1" title="Xóa dịch vụ"><i
                                    class="fas fa-trash" (click)="deleteService(item.id,true)"></i></button>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

    </div>
</div>