<div *ngIf="isLoadDone">
    <div [style.display]="currentEditService == null ? 'block': 'none'">
        <div class="card-custom">
            <div class="d-flex">
                <div class="left-box">
                    <form *ngIf="patientForm" [formGroup]="patientForm" (keydown.enter)="$event.preventDefault()">
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h2 class="header m-0">Thông tin bệnh nhân</h2>
                                <h3 class="m-0" style="font-weight: bold;" [style.color]="paid ? '#008000' : 'red'">
                                    {{ paid ? 'Đã thanh toán' : 'Chưa thanh toán' }}</h3>
                            </div>
                            <div class="row mb-1">
                                <div class="col-6 d-flex">
                                    <label class="label min-width-align">Mã bệnh nhân</label>
                                    <mat-form-field appearance="outline" class="input-fixed" (dblclick)="dbClick()">
                                        <input matInput formControlName="patientCode" autocomplete="off"
                                            #inputPatientCode (keyup)="generateAutoPatientByPatientCode($event)"
                                            (blur)="onBlurPatientCode()">
                                        <app-patient-autocomplete *ngIf="autoByPatientCode.length !== 0"
                                            [autocomplete]="inputPatientCode" [patients]="autoByPatientCode"
                                            [keySearch]="'patientCode'" (selectedRow)="autoSelected($event)">
                                        </app-patient-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-6 d-flex flex-row-reverse">
                                    <a class="btn-green btn-custom-layout" mat-raised-button
                                        *ngIf="patientId !== null && userPermissionCode.includes('A41')"
                                        routerLink="/medical-examination/list-patient/detail-infor"
                                        [queryParams]="{ patientId: patientId }">
                                        Lịch sử khám
                                    </a>
                                    <button class="btn-green btn-custom-layout" mat-raised-button disabled
                                        *ngIf="patientId === null && userPermissionCode.includes('A41')">
                                        Lịch sử khám
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-6 d-flex">
                                    <label class="label min-width-align">Tên BN <span class="required">*</span></label>
                                    <mat-form-field appearance="outline" class="input-fixed">
                                        <input matInput formControlName="patientName"
                                            (keyup)="generateAutoPatientByName($event)" autocomplete="off" #inputName>
                                        <app-patient-autocomplete *ngIf="autoByName.length !== 0"
                                            [autocomplete]="inputName" [patients]="autoByName"
                                            [keySearch]="'patientName'" (selectedRow)="autoSelected($event)">
                                        </app-patient-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-6 d-flex">
                                    <label class="label min-width-align">Số điện thoại <span
                                            class="required">*</span></label>
                                    <mat-form-field appearance="outline" class="input-fixed">
                                        <input matInput formControlName="phone" autocomplete="off" #inputPhone
                                            (keyup)="generateAutoPatientByPhone($event)" (input)="onPhoneInput()"
                                            maxlength="10">
                                        <app-patient-autocomplete *ngIf="autoByPhone.length !== 0"
                                            [autocomplete]="inputPhone" [patients]="autoByPhone" [keySearch]="'phone'"
                                            (selectedRow)="autoSelected($event)">
                                        </app-patient-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-6 d-flex">
                                    <label class="label min-width-align">Năm sinh <span
                                            class="required">*</span></label>
                                    <mat-form-field appearance="outline" class="input-fixed">
                                        <input matInput [matDatepicker]="picker2" formControlName="dateOfBirth"
                                            [max]="today" (dateChange)="onDobChange()">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-6 d-flex">
                                    <label class="label min-width-align">Giới tính <span
                                            class="required">*</span></label>
                                    <mat-form-field appearance="outline" class="input-fixed">
                                        <mat-select formControlName="gender">
                                            <mat-option value="0">Nam</mat-option>
                                            <mat-option value="1">Nữ</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 d-flex">
                                    <label class="label min-width-align">Địa chỉ <span class="required">*</span></label>
                                    <mat-form-field appearance="outline" class="input-fixed">
                                        <input matInput formControlName="address" [matAutocomplete]="autoByAddress"
                                            (keyup)="generateAutoAddress($event)">
                                        <mat-autocomplete autoActiveFirstOption #autoByAddress="matAutocomplete">
                                            <mat-option *ngFor="let d of autoAddress" [value]="d.value"
                                                [innerHTML]="d.valueDisplay">
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end action">
                            <button mat-raised-button class="btn-main-color" (click)="save()" type="submit">
                                <i class="fas fa-save"></i> <span class="ml-1">
                                    Lưu
                                </span>
                            </button>
                            <button mat-raised-button class="ml-2 btn-main-color" [disabled]="patientId == null"
                                (click)="print()">
                                <i class="fas fa-print"></i>
                                <span class="ml-1">
                                    In phiếu CLS
                                </span>
                            </button>
                            <a mat-raised-button class="ml-2 btn-main-color"
                                *ngIf="patientId != null && userPermissionCode.includes('A42')"
                                routerLink="/manage-finance/collect-service-fee"
                                [queryParams]="{ patientId: patientId }">
                                <i class="fas fa-receipt"></i>
                                <span class="ml-1">
                                    Chuyển thanh toán
                                </span>
                            </a>
                            <button mat-raised-button class="ml-2 btn-main-color"
                                *ngIf="patientId == null && userPermissionCode.includes('A42')" disabled>
                                <i class="fas fa-receipt"></i>
                                <span class="ml-1">
                                    Chuyển thanh toán
                                </span>
                            </button>

                            <button mat-raised-button class="ml-2 btn-orange" (click)="resetInput($event)">
                                <i class="fas fa-sync-alt"></i>
                                <span class="ml-1">
                                    Nhập lại
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="right-box">
                    <div class="row mb-2">
                        <div class="col-12 d-flex">
                            <label class="label min-width-align">Nhóm dịch vụ</label>
                            <mat-form-field appearance="outline" class="input-fixed">
                                <mat-select [(ngModel)]="selectedGroupServiceCode">
                                    <mat-option value="-1" disabled>
                                        --
                                    </mat-option>
                                    <mat-option value="0" *ngIf="listUserGroupService.length > 1"
                                        (click)="appendListService()">
                                        Tất cả
                                    </mat-option>
                                    <mat-option *ngFor="let item of listUserGroupService"
                                        [value]="item.groupServiceCode" [innerHTML]="item.groupServiceName"
                                        (click)="getListService(item.groupServiceCode)">
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 d-flex">
                            <label class="label min-width-align">Tìm kiếm</label>
                            <mat-form-field appearance="outline" class="input-fixed">
                                <input matInput [(ngModel)]="searchGroupServiceName"
                                    (keyup)="findServiceInGroupService()">
                            </mat-form-field>
                            <button mat-icon-button (click)="findServiceInGroupService()">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="table-custom mt-3">
                        <ul class="table-header">
                            <li class="header-col stt text-center">
                                #
                            </li>
                            <li class="header-col width-auto text-left">
                                Tên dịch vụ
                            </li>
                            <li class="header-col width-20 text-right">
                                Đơn giá
                            </li>
                        </ul>
                        <div class="table-content">
                            <ul class="content-row" *ngIf="listService.length ==0">
                                <li class="content-col no-data">
                                    Không có dữ liệu
                                </li>
                            </ul>
                            <ul class="content-row" *ngFor="let item of listService">
                                <li class="content-col stt text-center">
                                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="checkEnableCheckbox(item.id)"
                                        (change)="hanldeSelectPatientService($event, item)">
                                    </mat-checkbox>
                                </li>
                                <li class="content-col width-auto text-left ">
                                    {{item.serviceName}}
                                </li>
                                <li class="content-col width-20 text-right">
                                    {{oneDot(item.price)}}đ
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-width">
                <div class="table-custom mt-3">
                    <ul class="table-header">
                        <li class="header-col stt text-center">
                            #
                        </li>
                        <li class="header-col width-10 text-left">
                            Tên dịch vụ
                        </li>
                        <li class="header-col width-10 text-right">
                            Đơn giá
                        </li>
                        <li class="header-col width-auto text-left">
                            Kết luận
                        </li>
                        <li class="header-col width-15 text-left">
                            Ghi chú
                        </li>
                        <li class="header-col width-10 text-left">
                            Trạng thái
                        </li>
                        <li class="header-col width-10 text-right">
                            Hành động
                        </li>
                    </ul>
                    <div class="table-content caculate-height js-auto-scroll">
                        <ul class="content-row" *ngIf="listPatientService.length==0">
                            <li class="content-col no-data">
                                Không có dữ liệu
                            </li>
                        </ul>
                        <ul class="content-row " *ngFor="let item of listPatientService; let i = index">
                            <li class="content-col stt text-center text-truncate">
                                {{i+1}}
                            </li>
                            <li class="content-col width-10 text-left ">
                                {{item.serviceName}}
                            </li>
                            <li class="content-col width-10 text-right">
                                {{oneDot(item.price)}}đ
                            </li>
                            <li class="content-col width-auto text-left">
                                <mat-form-field appearance="outline" class="input-fixed">
                                    <input matInput [(ngModel)]="item.summary" [disabled]="item.status == '3'">
                                </mat-form-field>
                            </li>
                            <li class="content-col width-15 text-left">
                                <mat-form-field appearance="outline" class="input-fixed">
                                    <input matInput [(ngModel)]="item.note" [disabled]="item.status == '3'">
                                </mat-form-field>
                            </li>
                            <li class="content-col width-10 text-left ">
                                {{item.status == '1' ? 'Chưa khám' : 
                                (item.status == '2' ? 'Đang khám' : 'Đã khám xong')
                            }}
                            </li>
                            <li class="content-col width-10 text-right ">
                                <div style="display: flex; justify-content: flex-end;">
                                    <button class="btn btn-outline-secondary btn-sm" title="Chi tiết phiếu cận lâm sàng"
                                        (click)="openSavedReport(item)" *ngIf="item.status == '3'">
                                        <i class="fas fa-file"></i>
                                    </button>
                                    <a class="btn btn-outline-secondary btn-sm" title="Chi tiết phiếu cận lâm sàng"
                                        [routerLink]="['/medical-examination/subclinical-examination']"
                                        [queryParams]="{ editId: item.id, isNew: listPatientService.length != 0 }"
                                        queryParamsHandling="merge" (click)="detailReport(item)"
                                        *ngIf="item.status != '3'">
                                        <i class="fas fa-file"></i>
                                    </a>
                                    <button class="btn btn-outline-secondary btn-sm ml-1" title="Đánh dấu đã hoàn tất"
                                        [disabled]="item.status == '3'"
                                        (click)="makeDone(item.serviceReportId, item)"><i
                                            class="fas fa-check"></i></button>
                                    <button class="btn btn-outline-secondary btn-sm ml-1" title="Xóa dịch vụ"
                                        [disabled]="item.status == '3'" (click)="deleteService(item.id, true)">
                                        <i class="fas fa-trash"></i></button>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="currentEditService">
        <app-detail-report [patientForm]="patientForm" [medicalExamId]="medicalExamId"
            [itemService]="currentEditService"></app-detail-report>
    </div>
</div>