<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" #snav opened [fixedInViewport]="true" class="side-nav">
        <!-- logo -->
        <a class="nav-area" routerLink="/">
            <h2 class="logo">CMA CLINIC</h2>
        </a>

        <!-- profile -->
        <div class="profile-usertitle">
            <div class="avatar">
                <img src="../../assets/image/user.jpg" alt="User Image" class="avatar-img" width="100px" height="100px">
            </div>
            <div class="info">
                <div class="sidebar-userpic-name">{{currentUserFullName}}</div>
                <a href="javascript:undefined" class="profile-usertitle-job"
                    (click)="changeRoom()">{{currentRoomName}}</a>
            </div>
        </div>

        <!-- Left menu -->
        <section class="left-menu-content">
            <!-- Quản lý khám bệnh -->
            <app-sm-medical-examination
                [style.display]="sidebarRightState == sidebarItem.MedicalExamination ? 'block': 'none'">
            </app-sm-medical-examination>

            <!-- Quản lý thuốc -->
            <app-sm-medicine [style.display]="sidebarRightState == sidebarItem.Medicine ? 'block': 'none'">
            </app-sm-medicine>

            <!-- Quản lý vật tư -->
            <app-sm-materials [style.display]="sidebarRightState == sidebarItem.Materials ? 'block': 'none'">
            </app-sm-materials>

            <!-- Quản lý dịch vụ -->
            <app-sm-service [style.display]="sidebarRightState == sidebarItem.Service ? 'block': 'none'">
            </app-sm-service>

            <!-- Quản lý tài chính -->
            <app-sm-finance [style.display]="sidebarRightState == sidebarItem.Financial ? 'block': 'none'">
            </app-sm-finance>

            <!-- Báo cáo -->
            <app-sm-report [style.display]="sidebarRightState == sidebarItem.Report ? 'block': 'none'">
            </app-sm-report>

            <!-- Thống kê -->
            <!-- <app-sm-statistical [style.display]="sidebarRightState == sidebarItem.Statistical ? 'block': 'none'">
            </app-sm-statistical> -->

            <!-- Quản lý chung -->
            <app-sm-general-manage
                [style.display]="sidebarRightState == sidebarItem.GeneralManage ? 'block': 'none'">
            </app-sm-general-manage>

        </section>

        <!-- Version info-->
        <div class="version">
            CMA Version 1.0
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="top-menu">
            <button mat-icon-button aria-label="Menu" (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.MedicalExamination" *ngIf="listPermission.includes('A00')"
                (click)="changeSidebarRightState(sidebarItem.MedicalExamination)" routerLink="/medical-examination">
                Quản lý khám bệnh
            </a>
            <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.Medicine" *ngIf="listPermission.includes('B00')"
                (click)="changeSidebarRightState(sidebarItem.Medicine)" routerLink="/manage-medicine">
                Quản lý thuốc
            </a>
            <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.Materials" *ngIf="listPermission.includes('C00')"
                (click)="changeSidebarRightState(sidebarItem.Materials)" routerLink="/manage-material">
                Quản lý vật tư
            </a>
            <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.Service" *ngIf="listPermission.includes('D00')"
                (click)="changeSidebarRightState(sidebarItem.Service)" routerLink="/manage-service">
                Quản lý dịch vụ
            </a>
            <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.Financial" *ngIf="listPermission.includes('E00')"
                (click)="changeSidebarRightState(sidebarItem.Financial)" routerLink="/manage-finance">
                Quản lý tài chính
            </a>
            <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.Report" *ngIf="listPermission.includes('F00')"
                (click)="changeSidebarRightState(sidebarItem.Report)" routerLink="/report">
                Báo cáo
            </a>
            <!-- <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.Statistical"
                (click)="changeSidebarRightState(sidebarItem.Statistical)">
                Thống kê
            </a> -->
            <a mat-button [class.mat-flat-button]="sidebarRightState === sidebarItem.GeneralManage" *ngIf="listPermission.includes('G00')"
                (click)="changeSidebarRightState(sidebarItem.GeneralManage)" routerLink="/general-manage">
                Quản lý chung
            </a>

            <span class="spacer"></span>

            <div class="logo-user">
                <span class="user-img"><img class="rounded-circle" src="../../assets/image/user.jpg" width="35px"
                        height="35px" alt="User">
                </span>
                <div class="dropdown-menu" x-placement="bottom-start">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../../assets/image/user.jpg" alt="User Image" class="avatar-img rounded-circle"
                                width="50px" height="50px">
                        </div>
                        <div class="user-text">
                            <h6>{{currentUserFullName}}</h6>
                            <a href="javascript:undefined" class="text-muted mb-0"
                                (click)="changeRoom()">{{currentRoomName}}</a>
                        </div>
                    </div>
                    <a class="dropdown-item" (click)="changeRoom()">Đổi phòng làm việc</a>
                    <a class="dropdown-item" routerLink="/">Quản lý tài khoản</a>
                    <a class="dropdown-item" routerLink="/">Đổi mật khẩu</a>
                    <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                </div>
            </div>

        </mat-toolbar>
        <div class="loader-area">
            <mat-progress-bar mode="indeterminate" [style.visibility]="showLoader ? 'visible' : 'hidden'"></mat-progress-bar>
        </div>
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav-content class="main-content">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>