@import "../../../main-theme.scss";

.card-custom {
  width: 100%;
}

.action {
  margin-top: 10px;

  button {
    min-width: 140px;
  }
}

.box-receive-left {
  flex: 1;
}

.box-receive-right {
  width: 320px;
  .table-custom .table-content {
    max-height: 328px;
  }
}
